<!-- Start Top Menu-->
<div class="top-header hidden-xs" ng-controller="TopMenuController">
    <div class="menu">
        <ul>
            <li class="menu-item"
                ng-repeat="menuItem in menuItems"
                ng-class="{'menu-item-last': $last}"
                ng-click="itemMenuClicked($event, menuItem)">
                <a ng-class="{'active' : isActive(menuItem) || menuItem == clickedItem}"
                   ng-href="{{$state.href(menuItem.sref)}}">
                    <i class="{{menuItem.icon}}"></i>
                    {{menuItem.text}}
                </a>
                <ul class="sub-menu" ng-if="menuItem.submenu"
                    stop-event="">
                    <li class="sub-menu-item"
                        ng-repeat="subMenuItem in menuItem.submenu">
                        <a ng-class="{'active' : isActive(subMenuItem)}"
                           ng-href="{{$state.href(subMenuItem.sref)}}">
                            <i class="icon-notepad30"></i>
                            {{subMenuItem.text}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="sub-menu-hiegh-lighter"></div>
    </div>
</div>
<!-- End Top Menu-->

<!-- Start Mobile Menu-->
<div class="mobile-menu visible-xs" ng-controller="MobileMenuController">
    <ul class="menu">
        <li class="menu-item"
            ng-repeat="menuItem in menuItems"
            ng-class="{'menu-item-last': $last}"
            ng-click="itemMenuClicked($event, menuItem)">
            <a ng-class="{'active' : isActive(menuItem) || menuItem == clickedItem}"
               ng-href="{{$state.href(menuItem.sref)}}">
                <i class="{{menuItem.icon}}"></i>
                {{menuItem.text}}
            </a>
            <ul class="sub-menu" ng-if="menuItem.submenu"
                stop-event="">
                <li class="sub-menu-item"
                    ng-repeat="subMenuItem in menuItem.submenu"
                    ng-class="{'sub-menu-item-last': $last}">
                    <a ng-class="{'active' : isActive(subMenuItem)}"
                       ng-href="{{$state.href(subMenuItem.sref)}}">
                        <i class="icon-notepad30"></i>
                        {{subMenuItem.text}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="mobile-menu-overlay visible-xs" ng-if="mobileMenuToggled"></div>
<!-- End Mobile Menu-->

<!-- Start Page Content -->
<div id="center-content" ui-view="" ng-class="app.viewAnimation"></div>
<!-- End Page Content -->