#header {
	height: 53px;
	position: relative;

	.logo {
		background: transparent url(/Images/Public/logo.png) no-repeat center center;
		bottom: -15px;
		display: block;
		height: 31px;
		left: 25px;
		position: absolute;
		width: 225px;
		z-index: 3;

		/* Custom, iPhone Retina */
		@media only screen and (min-width : 320px) {
			display: none;
		}
		/* Extra Small Devices, Phones */
		@media only screen and (min-width : 480px) {
			display: none;
		}
		/* Small Devices, Tablets */
		@media only screen and (min-width : 768px) {
			bottom: -2px;
			display: block;
			left: 8px;
		}
		/* Medium Devices, Desktops */
		@media only screen and (min-width : 992px) {
			bottom: -12px;
			display: block;
			left: 8px;
		}
		/* Large Devices, Wide Screens */
		@media only screen and (min-width : 1200px) {
			bottom: -15px;
			display: block;
			left: 25px;
		}
	}

	.btn-login {
		background: transparent url(/Images/Public/btn-login.png) no-repeat center center;
		bottom: -17px;
		height: 58px;
		position: absolute;
		right: 125px;
		width: 98px;
		transition: text-shadow 300ms ease-out;
		z-index: 3;

		.btn-login-inner {
			color: #fff;
			cursor: pointer;
			display: block;
			font-family: Calibri;
			font-size: 15px;
			font-weight: bold;
			height: 50px;
			margin: 5px 2px 0 0;
			padding: 14px 0 0 0;
			text-align: center;
			width: 84px;

			&:hover {
				text-decoration: none;
				text-shadow: 0 0 6px #fff;
				transition: text-shadow 300ms ease-in;
			}
		}
	}

	.btn-register {
		background: transparent url(/Images/Public/btn-register.png) no-repeat center center;
		bottom: -19px;
		height: 61px;
		position: absolute;
		right: 30px;
		width: 98px;
		transition: text-shadow 300ms ease-out;
		z-index: 3;

		.btn-register-inner {
			color: #fff;
			cursor: pointer;
			display: block;
			font-family: Calibri;
			font-size: 15px;
			font-weight: bold;
			height: 50px;
			margin: 6px 9px 0 0;
			padding: 15px 0 0 0;
			text-align: center;
			width: 86px;

			&:hover {
				text-decoration: none;
				text-shadow: 0 0 6px #fff;
				transition: text-shadow 300ms ease-in;
			}
		}
	}
}