/****************************
********* Slideshow *********
****************************/
@import "revolution-slider.scss";

/****************************
********** Slogan ***********
****************************/
.section-slogan {
    .content-box {
        background-color: #fbfbfb;
    }
    .title-section-slogan {
		font: {
            family: yekan;
            size: 15px;
        }
    }
    .content-box-text {
        font: {
            family: yekan;
            size: 20px;
        }
        line-height: 30px;
		right: 0;
        text-align: center !important;
    }
}

/****************************
********* Services **********
****************************/
.section-serives {
    .title-section-serives {
        background-color: #fff;
        font: {
            family: yekan;
            size: 25px;
        }
        text-align: center;
    }
    .line-section-serives {
        background-color: #fff;
        border-bottom: 1px solid #f0f0f0;
        height: 20px;
        margin: 0 auto 30px;
        text-align: center;
        width: 50%;
        i {
            background: #fff;
            width: 40px;
            font-size: 32px;
            padding-top: 10px;
            border-radius: 50%;
            height: 40px;
            color: #D8D8D8;
            padding: 0 20px;
            line-height: 40px;
            display: inline;
        }
    }
    ul {
        padding: 0;
        list-style-type: none;
        li {
            float: left;
            margin: 0 0 20px 0;
            list-style-type: none;
            &:last-child {
                margin-bottom: 0;
            }
            .content-box {
                .content-box-title {
                    font: {
                        family: yekan;
                        size: 17px;
                    }
                    margin-bottom: 5px;
                    .ico {
                        display: inline-block;
						float: left;
						height: 64px;
						margin-right: 20px;
						width: 64px;

						&.ico-graphic {
							background: transparent url(/Images/Public/Home/service-icon-graphic.png) no-repeat 0 -64px;
						}

						&.ico-branding {
							background: transparent url(/Images/Public/Home/service-icon-branding.png) no-repeat 0 -64px;
						}

						&.ico-tizer {
							background: transparent url(/Images/Public/Home/service-icon-tizer.png) no-repeat 0 -64px;
						}

						&.ico-consultation {
							background: transparent url(/Images/Public/Home/service-icon-consultation.png) no-repeat 0 -64px;
						}

						&.ico-photography {
							background: transparent url(/Images/Public/Home/service-icon-photography.png) no-repeat 0 -62px;
							height: 62px;
							margin-top: 1px;
						}

						&.ico-character {
							background: transparent url(/Images/Public/Home/service-icon-character.png) no-repeat 0 -64px;
						}

						&.ico-multimedia {
							background: transparent url(/Images/Public/Home/service-icon-multimedia.png) no-repeat 0 -64px;
						}

						&.ico-product {
							background: transparent url(/Images/Public/Home/service-icon-product.png) no-repeat 0 -64px;
						}
                    }
                }
                .content-box-text {
                    color: #494949;
                    font: {
                        family: Tahoma;
                        size: 11px;
                    }
                    min-height: 80px;
                    margin-top: -14px;
                }

				&:hover {
					.content-box-title .ico {
						background-position: 0 0;
					}
				}
            }
        }
    }
    .right-text ul li .content-box-title .ico {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }
    .left-text ul li .content-box-text {
        margin-left: 80px;
        direction: rtl;
        text-align: left;
    }
}

/****************************
******* Web Strategy ********
****************************/
.section-help {
    .title-section-help {
        background-color: #fbfbfb;
        font: {
            family: yekan;
            size: 25px;
        }
        text-align: center;
    }
    .content-box {
        h4 {
            font: {
                family: yekan;
                size: 17px;
            }
            .ico {
                display:inline-block;
				float: right;
				height: 62px;
                margin: 2px 0 0 20px;
				width: 62px;

				&.ico-step-1 {
					background: transparent url(/Images/Public/Home/help-icon-step-1.png) no-repeat 0 0;
				}

				&.ico-step-2 {
					background: transparent url(/Images/Public/Home/help-icon-step-2.png) no-repeat 0 0;
				}

				&.ico-step-3 {
					background: transparent url(/Images/Public/Home/help-icon-step-3.png) no-repeat 0 0;
				}

				&.ico-step-4 {
					background: transparent url(/Images/Public/Home/help-icon-step-4.png) no-repeat 0 0;
				}
            }
        }

        div {
            color: #666666;
             font: {
                family: Tahoma;
                size: 11px;
            }
            line-height: 17px;
			margin: 5px 60px 0 15px;
            min-height: 165px;
            text-align: justify;
        }

		&:hover {
			h4 .ico {
				background-position: 0 -63px;
			}
		}
    }
}