html, body {
    height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #171516;
	direction: rtl;
}

#contents {
    background-color: #171516;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
	position: relative;
}

#center-content {
    margin: 0 auto;
    min-height: 700px;
    padding: 0;
    position: relative;

    /* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {
		padding: 60px 0 0 0;
		width: 100%;
	}
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {
		padding: 60px 0 0 0;
		width: 100%;
	}
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		padding: 0;
		width: 100%;
	}
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
		padding: 0;
		width: 948px;
	}
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
		padding: 0;
		width: 948px;
	}
}