<div ng-if="item.type == 5">
    <div class="checkbox c-checkbox">
        <label>
            <input type="checkbox" ng-value="true" ng-model="item.value" tabindex="{{item.data.priority}}">
            <span></span>
            {{item.data.title}}
        </label>
    </div>
</div>