<div ng-if="item.type == 10">
    <label class="control-label">
        {{item.data.title + ':'}}
    </label>
    <div class="checkbox c-checkbox"
         style="margin-right:8px;"
         ng-repeat="checkbox_item in item.data.items">
        <label>
            <input type="checkbox"
                   ng-value="true" ng-model="checkbox_item.value"
                   tabindex="{{item.data.priority + '.' + Number($index + 1)}}" />
            <span></span>{{checkbox_item.title}}
        </label>
    </div>
</div>