<div ng-if="item.type == 9">
    <label class="control-label">
        {{item.data.title + ':'}}
        <span class="text-danger" ng-if="item.data.isRequired">*</span>
    </label>
    <div class="radio c-radio"
         style="margin-right:8px;"
         ng-repeat="radio_item in item.data.items">
        <label>
            <input type="radio" ng-value="radio_item" ng-model="item.value"
                   tabindex="{{item.data.priority + '.' + Number($index + 1)}}" />
            <span></span>{{radio_item.title}}
        </label>
    </div>
</div>