.mobile-menu .menu {
	.menu-item > a {
		i {
			background-position: center 0;
		}
	}
	
	.menu-item > a:hover,
	.menu-item > a.active {
		color: #563b66;
		i {
			background-position: center -25px;
		}
	}

	.sub-menu-item > a:hover,
	.sub-menu-item > a.active {
		color: #563b66;
	}

	.sub-menu-hiegh-lighter {
		background-color: #CEAEDA;
	}
}