@model Karenbic.DomainClasses.Setting

@{
    ViewBag.PageTitle = "درباره با ما";
}

@section HeaderSection {
    <link type="text/css" rel="stylesheet" href="/Styles/Public/About.css" />
    <script type="text/javascript" language="javascript" src="/Vendors/jquery.cycle/jquery.cycle.js"></script>
}

@section TitleBar {
    <div class="top-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-info">
                        <h1 class="page-title">درباره ما</h1>
                        <h2 class="page-desc">بهروری بیشتر، با استراتژی های خلاقانه</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="body-wrapper">
    <div class="container">
        <!-- Start Title -->
        <div class="row section-title">
            <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                 data-animrepeat="0"
                 data-speed="1s"
                 data-delay="0.4s">
                <h2 class="text-section-title">درباره ما</h2>
                <div class="line-section-title">
                    <i class="icon-feather"></i>
                </div>
            </div>
        </div>
        <!-- End Title -->

        <div class="space-sep20"></div>

        <div class="row section-about-us">
            <div class="col-md-6 col-sm-6">
                @Model.AboutUsText
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="cycle-slideshow frame1"
                     data-cycle-slides="> .slider-img"
                     data-cycle-prev=".cycle-prev"
                     data-cycle-next=".cycle-next"
                     data-cycle-overlay-fx-out="slideUp"
                     data-cycle-overlay-fx-in="slideDown"
                     data-cycle-speed="500">
                    <div class="fa fa-chevron-right cycle-next"></div>
                    <div class="fa fa-chevron-left cycle-prev"></div>
                    <div class="cycle-pager"></div>
                    <!-- slider item -->
                    <div class="slider-img">
                        <img src="~/Images/Public/AboutUsSlider/1.gif" />
                    </div>
                    <!-- //slider item// -->
                    <!-- slider item -->
                    <div class="slider-img">
                        <img src="~/Images/Public/AboutUsSlider/2.gif" />
                    </div>
                    <!-- //slider item// -->
                </div>

            </div>
        </div>

        <div class="space-sep40"></div>
    </div>
</div>