@model Karenbic.DomainClasses.Setting

@{
    ViewBag.PageTitle = "راهنما";
}

@section HeaderSection {
    <style type="text/css">
        .authenticated-error {
            color: #D1C2A9;
            font-family: IranianSerifWeb;
            font-size: 22px;
            font-weight: bold;
            margin-top: 80px;
            text-align: center;
        }

        /* Custom, iPhone Retina */
        @@media only screen and (min-width : 320px) {
            .page-content {
                margin: 0 22px;
            }
        }
        /* Extra Small Devices, Phones */
        @@media only screen and (min-width : 480px) {
            .page-content {
                margin: 0 22px;
            }
        }
        /* Small Devices, Tablets */
        @@media only screen and (min-width : 768px) {
            .page-content {
                margin: 0 88px;
            }
        }
        /* Medium Devices, Desktops */
        @@media only screen and (min-width : 992px) {
            .page-content {
                margin: 0 88px;
            }
        }
        /* Large Devices, Wide Screens */
        @@media only screen and (min-width : 1200px) {
            .page-content {
                margin: 0 88px;
            }
        }
    </style>
}

@section TitleBar {
    <div class="top-title-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-info">
                        <h1 class="page-title">راهنما و قوانین</h1>
                        @*<h2 class="page-desc">&nbsp;</h2>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (User.Identity.IsAuthenticated) 
{ 
    <div class="page-content">
        @Html.Raw(Model.PublicHelpText)
    </div>
}
else
{
    <div class="authenticated-error">برای مشاهده راهنمای سایت ابتدا ثبت نام نمایید</div>
}