<div class="container-fluid" ng-if="item.type == 9">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group"
                 style="margin-bottom:6px;">
                <label class="control-label"
                       ng-if="item.data.hasPictureHelpFile == false">
                    {{item.data.title + ':'}}
                    <span class="text-danger" ng-if="item.data.isRequired">*</span>
                </label>
                <label class="control-label"
                       ng-if="item.data.hasPictureHelpFile == true"
                       style="cursor:pointer;"
                       tooltipster="" tooltipster-title="<img src='{{item.data.pictureHelpPath}}' />">
                    {{item.data.title + ':'}}
                    <span class="text-danger" ng-if="item.data.isRequired">*</span>
                </label>
                <div class="radio c-radio"
                     style="margin-right:8px;"
                     ng-repeat="radio_item in item.data.items">
                    <label>
                        <input type="radio" ng-value="radio_item" ng-model="item.value" />
                        <span></span>{{radio_item.title}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             ng-if="item.data.description != null && item.data.description != ''">
            <div class="form-group">
                <span class="fa fa-info-circle text-info"></span>
                <pre class="control-label text-muted">{{item.data.description}}</pre>
            </div>
        </div>
    </div>
</div>