<div class="container-fluid" ng-if="item.type == 8">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group"
                 style="margin-bottom:6px;">
                <label class="control-label"
                       ng-if="item.data.hasPictureHelpFile == false">
                    {{item.data.title + ':'}}
                    <span class="text-danger" ng-if="item.data.isRequired">*</span>
                </label>
                <label class="control-label"
                       ng-if="item.data.hasPictureHelpFile == true"
                       style="cursor:pointer;"
                       tooltipster="" tooltipster-title="<img src='{{item.data.pictureHelpPath}}' />">
                    {{item.data.title + ':'}}
                    <span class="text-danger" ng-if="item.data.isRequired">*</span>
                </label>
                <select chosen="item.data.items"
                        ng-options="item.title for item in item.data.items"
                        ng-model="item.value"
                        ng-class="{'ng-invalid': fromSumbited == true && validateForm_DropDown(item) == false}"
                        width="100%"
                        tabindex="{{item.data.priority}}"></select>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             ng-if="item.data.description != null && item.data.description != ''">
            <div class="form-group">
                <span class="fa fa-info-circle text-info"></span>
                <pre class="control-label text-muted">{{item.data.description}}</pre>
            </div>
        </div>
    </div>
</div>