<style type="text/css">
    .dgvcn {
        background-color: #f9f9f9;
        border: 1px solid #6c6c6c;
        margin-top: 20px;
        min-height: 400px !important;
    }
        .dgvcn .btn-img-delete-1 {
            position: relative;
            top: -2px;
        }
        .dgvcn .btn-img-edit-1 {
            margin-right: 3px;
            position: relative;
            top: -2px;
        }
        .dgvcn .btn-img-info-1 {
            margin-left: 2px;
            margin-right: 3px;
            position: relative;
            top: -2px;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default"
                 ng-class="{'whirl': fetchLoading, 'shadow': fetchLoading}">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i></i>
                        لیست های قیمت
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="form-group" style="position:relative;">
                                <select chosen="categories"
                                        ng-options="item.Title for item in categories"
                                        ng-model="selectedCategory"
                                        width="100%"></select>
                                <div style="background-color:#f6f6f6;height:29px;position:absolute;top:23px;right:0;left:0;opacity:0.4;"
                                     ng-if="fetchCustomerGroupsLoading">
                                    <img src="/Images/Loading/2.gif" style="display:block;margin:9px auto;" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive dgvcn">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width:40px;width:40px;">&nbsp;</th>
                                    <th style="min-width:200px;">عنوان</th>
                                    <th style="min-width:80px;width:80px;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in prices">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.Title}}</td>
                                    <td style="text-align:left;">
                                        <button class="btn-img-edit-1" type="button"
                                                ng-click="edit($index)"
                                                tooltipster="" title="ویرایش"></button>

                                        <button class="btn-img-delete-1" type="button"
                                                ng-click="remove($index)"
                                                tooltipster="" title="حذف"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Remove Modal -->
<script type="text/ng-template" id="removeDialog.html">
    <div style="font-family:yekan;font-size:14px;">
        <p>آیا از حذف اطلاعات اطمینان دارید?</p>
        <div>
            <button class="btn btn-default" ng-click="close()" type="button">خیر</button>
            <button class="btn btn-primary" ng-click="confirm()" type="button">بلی</button>
        </div>
    </div>
</script>
<!-- End Remove Modal -->

<toaster-container toaster-options="{'position-class': 'toast-bottom-left', 'close-button':true, 'timeout': 3000}"></toaster-container>