.btn-img-add-1 {
	display: inline-block;
	width: 22px;
	height: 20px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-add-1.png) no-repeat 0px 0px;
	cursor: pointer;
}
.btn-img-add-1:hover, .btn-img-add-1:focus {
	background-position: 0px -23px;
}

.btn-img-down-1 {
	display: inline-block;
	width: 19px;
	height: 9px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-down-1.png) no-repeat 0px 0px;
	cursor: pointer;
}

.btn-img-delete-1 {
	display: inline-block;
	width: 19px;
	height: 21px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-delete-1.png) no-repeat 0px 0px;
	cursor: pointer;
}
.btn-img-delete-1:hover, .btn-img-delete-1:focus {
	background-position: 0px -24px;
}

.btn-img-delete-2 {
	display: inline-block;
	width: 18px;
	height: 19px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-delete-2.png) no-repeat 0px 0px;
	cursor: pointer;
}

.btn-img-edit-1 {
	display: inline-block;
	width: 19px;
	height: 19px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-edit-1.png) no-repeat 0px 0px;
	cursor: pointer;
}
.btn-img-edit-1:hover, .btn-img-edit-1:focus {
	background-position: 0px -22px;
}

.btn-img-info-1 {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-info-1.png) no-repeat 0px 0px;
	cursor: pointer;
}
.btn-img-info-1:hover, .btn-img-info-1:focus {
	background-position: 0px -22px;
}

.btn-img-hide-1 {
	width: 22px;
	height: 17px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-hide-1.png) no-repeat 0px -17px;
	cursor: pointer;
}

.btn-img-search-1 {
	display: inline-block;
	width: 24px;
	height: 24px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-search-1.png) no-repeat 0 0;
	cursor: pointer;
}
.btn-img-search-1:hover, .btn-img-search-1:focus {
	background-position: 0 -26px;
}

.btn-img-search-2 {
	display: inline-block;
	width: 95px;
	height: 24px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-search-2.png) no-repeat 0 0;
	cursor: pointer;
}
.btn-img-search-2:hover, .btn-img-search-2:focus {
	background-position: 0 -26px;
}

.btn-img-show-1 {
	width: 22px;
	height: 17px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-hide-1.png) no-repeat 0px 1px;
	cursor: pointer;
}

.btn-img-up-1 {
	display: inline-block;
	width: 19px;
	height: 9px;
	border: none;
	background: transparent url(/Images/UI/Button/btn-up-1.png) no-repeat 0px 0px;
	cursor: pointer;
}