.panel {
	border-top: 1px solid #b5b5b5;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    .panel-heading {
        border: none;
        -moz-border-radius: 8px 8px 0 0;
        -webkit-border-radius: 8px 8px 0 0;
        border-radius: 8px 8px 0 0;
        padding: 3px 10px 8px 10px;

        .panel-title {
            font: {
                family: yekan;
                size: 15px;
            }

             & > i {
                display:inline-block;
                height: 8px;
                margin-left: 2px;
                width: 8px;
            }
        }
    }

    .panel-footer {
		background-color: #fafafa;
        border-top: 1px solid #eeeeee;
        -moz-border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        border-radius: 0 0 8px 8px;
        padding: 8px 10px;
    }
}

.panel-default {
    background-color: #fff;
    border:1px solid #b5b5b5;

    & > .panel-heading {
        background-color: #fff;
		padding: 8px 10px 0 10px;

        .panel-title {
            color: #5e5e5e;

            & > i {
                background-color: #ff7200;
            }
        }
    }

    & > .panel-footer {
        background-color: #fff;
		border-top: none;
    }
}

.panel-primary {
    background-color: #fff;
    border:1px solid #b5b5b5;

    & > .panel-heading {
        background-color: #5D9CEC;

        .panel-title {
            color: #fff;

            & > i {
                background-color: #fff;
            }
        }
    }
}

.panel-success {
    background-color: #fff;
    border:1px solid #b5b5b5;

    & > .panel-heading {
        background-color: #27C24C;

        .panel-title {
            color: #fff;

            & > i {
                background-color: #fff;
            }
        }
    }
}

.panel-info {
    background-color: #fff;
    border:1px solid #b5b5b5;

    & > .panel-heading {
        background-color: #23B7E5;

        .panel-title {
            color: #fff;

            & > i {
                background-color: #fff;
            }
        }
    }
}

.panel-warning {
    background-color: #fff;
    border:1px solid #b5b5b5;

    & > .panel-heading {
        background-color: #FF902B;

        .panel-title {
            color: #fff;

            & > i {
                background-color: #fff;
            }
        }
    }
}

.panel-danger {
    background-color: #fff;
    border:1px solid #b5b5b5;

    & > .panel-heading {
        background-color: #F05050;

        .panel-title {
            color: #fff;

            & > i {
                background-color: #fff;
            }
        }
    }
}