.table {
	th {
		background: #fdfdfd;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmQ5ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #fdfdfd 0%, #dbd9da 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dbd9da));
		background: -webkit-linear-gradient(top, #fdfdfd 0%,#dbd9da 100%);
		background: -o-linear-gradient(top, #fdfdfd 0%,#dbd9da 100%);
		background: -ms-linear-gradient(top, #fdfdfd 0%,#dbd9da 100%);
		background: linear-gradient(to bottom, #fdfdfd 0%,#dbd9da 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dbd9da',GradientType=0 );
		color: #5e5e5e;
		padding: 4px !important;

		font: {
			family: BNazanin;
			size: 15.5px;
			weight: normal;
		}
	}

	td {
		padding: 2px !important;
	}

	tr {
		background-color: #fff;
		color: #5e5e5e;
		font-family: BNazanin;
		font-size: 15.5px;

		&.unread td {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe6a3+0,fff5d8+100 */
			background: #ffe6a3; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTZhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmY1ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top, #ffe6a3 0%, #fff5d8 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe6a3), color-stop(100%,#fff5d8)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffe6a3 0%,#fff5d8 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffe6a3 0%,#fff5d8 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ffe6a3 0%,#fff5d8 100%); /* IE10+ */
			background: linear-gradient(to bottom, #ffe6a3 0%,#fff5d8 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6a3', endColorstr='#fff5d8',GradientType=0 ); /* IE6-8 */
		}
	}
}
