textarea.form-control {
	border: 1px solid #bebebe;
	color: #737373;

	font: {
		family: Tahoma;
		size: 13px;
		weight: normal;
	}

	padding: 2px 5px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;


	&:focus {
		border: 1px solid #0098c4;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
