.mobile-menu .menu {
	.menu-item > a:hover,
	.menu-item > a.active {
		color: #3a719f;
		i {
			background-position: center -24px;
		}
	}

	.sub-menu-item > a:hover,
	.sub-menu-item > a.active {
		color: #3a719f;
	}

	.sub-menu-hiegh-lighter {
		background-color: #6ea4d2;
	}
}