.top-header .menu {
	.menu-item > a:hover,
	.menu-item > a.active {
		color: #78BBF1;
		i {
			background-position: center -45px;
		}
	}

	.sub-menu-item > a:hover,
	.sub-menu-item > a.active {
		color: #3a719f;
	}

	.sub-menu-hiegh-lighter {
		background-color: #78BBF1;
	}
}