@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>شرکت نوآوران کارن | بازیابی رمز عبور</title>
    
    <script type="text/javascript" language="javascript" src="/Vendors/jquery-1.11.2/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/Vendors/jquery-1.11.2/jquery-migrate-1.2.1.min.js"></script>

    <script type="text/javascript" language="javascript" src="/Vendors/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Vendors/bootstrap-3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Vendors/bootstrap-rtl/bootstrap-rtl.min.css" />

    <style type="text/css">
        @@font-face{
            font-family:'yekan';
            src:url('/Fonts/yekan.eot');
            src:url('/Fonts/yekan.eot#iefix') format('embedded-opentype'),
                url('/Fonts/yekan.woff') format('woff'),
                url('/Fonts/yekan.ttf') format('truetype'),
                url('/Fonts/yekan.svg#CartoGothicStdBook') format('svg');
            font-weight:normal;
            font-style:normal;
        }

        body {
            background: #5e5e5e;
        }

        #contents {
             background-color: #fff;
            direction: rtl;
            min-height: 180px;
            margin: 50px auto;
            padding: 20px;
            position: relative;
            width: 300px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
        }
            #contents .username {
                border: 1px solid #cccccc;
                height: 33px;
                margin-bottom: 7px;
                padding: 5px 28px 5px 5px;
                position: relative;
                width: 100%;
            }
                #contents .username .icon {
                    background: url(/Images/Public/Login/2.png) no-repeat 0 0;
                    height: 25px;
                    position: absolute;
                    right: 3px;
                    top: 3px;
                    width: 20px;
                }    
            #contents .username input {
                   border: none;
                    direction: ltr;
                    height: 21px;
                    text-align: left;
                    width: 100%;
                }
                    #contents .username input:focus {
                        outline: none;
                        border: none;
                    }
            #contents .captcha {
                background-color: #dadada;
                height: 93px;
                margin-top: 3px;
                padding: 5px;
                position: relative;
                width: 260px;
            }
                #contents .captcha img {
                    border: 1px solid #bebebe;
                    height: auto;
                    width: 215px;
                }
                #contents .captcha input[type=text] {
                    margin-top: 5px;
                    width: 215px;
                }
                #contents .captcha .btn-refresh-1 {
                    border: none;
                    background: transparent url(/Images/UI/Button/btn-refresh-1.png) no-repeat 0 0;
                    display: block;
                    height: 29px;
                    left: 5px;
                    position: absolute;
                    top: 9px;
                    width: 29px;
                }
            #contents .bottom {
                background: url(/Images/Public/Login/7.png) no-repeat center center;
                bottom: -26px;
                height: 26px;
                left: 0;
                position: absolute;
                width: 300px;
            }
                #contents .bottom .btn-login {
                    background: url(/Images/Public/Login/9.png) no-repeat 0 0;
                    border: none;
                    cursor: pointer;
                    display: block;
                    height: 31px;
                    left: 99px;
                    position: absolute;
                    top: -10px;
                    width: 105px;
                }
                    #contents .bottom .btn-login:hover {
                        background-position: 0 -31px;
                    }
    </style>

    <script>
        $(document).ready(function () {
            if ($(window).height() > 301) {
                $('#contents').css('margin-top', ($(window).height() - 301) / 2);
            }
            else {
                $('#contents').css('margin-top', 5);
            }

            $(window).resize(function () {
                if ($(window).height() > 301) {
                    $('#contents').css('margin-top', ($(window).height() - 301) / 2);
                }
                else {
                    $('#contents').css('margin-top', 5);
                }
            });

            $('.captcha .btn-refresh-1').click(function () {
                var d = new Date();
                $(".captcha img").attr("src", "/Captcha/CaptchaImage?prefix=_RecoveryPassword&" + d.getTime());
            });
        });
    </script>
</head>
<body>
    <div id="contents">
        <form method="post">
            <div class="username">
                <input type="text" name="userName" />
                <i class="icon"></i>
            </div>
            <div class="captcha">
                <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage", "Captcha", new { prefix = "_RecoveryPassword", d = DateTime.Now.ToLongTimeString() })" />
                <input class="btn btn-refresh-1" type="button" value="" />
                <input class="txt txt-en" name="captcha" type="text" />
            </div>
            @if(ViewBag.RecoveryPasswordSuccess != null || ViewBag.RecoveryPasswordError != null)
            { 
                <div style="margin-top:7px;text-align:center;">
                    @if (ViewBag.RecoveryPasswordSuccess != null && Convert.ToBoolean(ViewBag.RecoveryPasswordSuccess))
                    {
                        <span style="color:#1F910B;font-family:yekan;font-size:14px;">رمز عبور جدید به ایمیل شما ارسال گردید.</span>
                    }
                    else if (ViewBag.RecoveryPasswordError != null)
                    {
                        <span style="color:#d50008;font-family:yekan;font-size:14px;">@ViewBag.RecoveryPasswordError</span>
                    }
                </div>
            }
            <div class="bottom">
                <input type="submit" class="btn-login" value="" />
            </div>
        </form>
    </div>
</body>
</html>