@model Karenbic.DomainClasses.PublicPriceCategory

@{
    ViewBag.PageTitle = string.Format("{0} | {1}", "لیست قیمت", Model.Title);
    List<Karenbic.DomainClasses.PublicPrice> prices = Model.Prices.OrderByDescending(x => x.Priority).ToList();
}

@section HeaderSection {
    <link type="text/css" rel="stylesheet" href="/Styles/public/price-list.css" />
    <script>
        $(document).ready(function () {
            $('.accordion-row .title, .accordion-row .open-icon, .accordion-row .close-icon').click(function () {
                var $this = $(this);

                if ($($this).closest('.accordion-row').hasClass('expand')) {
                    $($this).closest('.accordion-row').find('.desc').stop(true, true).slideUp(300);
                    $($this).closest('.accordion-row').find('.close-icon').removeClass('close-icon').addClass('open-icon');
                    $($this).closest('.accordion-row').removeClass('expand');
                }
                else {
                    if ($('.expand').length > 0) {
                        var $expandedItem = $('.expand').closest('.accordion-row');
                        $($expandedItem).removeClass('expand');
                        $($expandedItem).find('.desc').stop(true, true).slideUp(300);
                        $($expandedItem).find('.close-icon').removeClass('close-icon').addClass('open-icon');
                    }
                    $($this).closest('.accordion-row').find('.desc').slideDown(300);
                    $($this).closest('.accordion-row').find('.open-icon').removeClass('open-icon').addClass('close-icon');
                    $($this).closest('.accordion-row').addClass('expand');
                }
            });
        });
    </script>
}

@section TitleBar {
    <div class="top-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-info">
                        <h1 class="page-title">لیست قیمت</h1>
                        <h3 class="page-desc">@Model.Title</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (prices != null && prices.Count > 0)
{
    <div class="price-accordion">
        <div class="row">
            @foreach (Karenbic.DomainClasses.PublicPrice item in prices)
            {
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="accordion-row">
                        <h4 class="title">@item.Title</h4>
                        <div class="open-icon"></div>
                        <div class="desc">@Html.Raw(item.Description)</div>
                    </div>
                </div>
            }
        </div>
    </div>
}