@model Karenbic.DomainClasses.PublicPriceCategory

@{
    ViewBag.PageTitle = string.Format("{0} | {1}", "لیست قیمت", Model.Title);
    List<Karenbic.DomainClasses.PublicPrice> prices = Model.Prices.OrderByDescending(x => x.Priority).ToList();
}

@section HeaderSection {
    <style type="text/css">
        .page-content {
            width: 100%;
            padding: 1px;
            position: relative;
        }

        .page-title {
            background: transparent url(/Images/Public/Portfolio/0.jpg) no-repeat 0 0;
            height: 70px;
            position: relative;
            width: 157px;
        }
            .page-title a {
                bottom: 0;
                display: block;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
            .page-title .title-1 {
                background: transparent url(/Images/Public/NavbarMenu/SubMenu/1.png) no-repeat 0 0;
                height: 54px;
                position: absolute;
                right: 45px;
                top: 6px;
                width: 75px;
            }
            .page-title .title-2 {
                background: transparent url(/Images/Public/NavbarMenu/SubMenu/2.png) no-repeat 0 0;
                height: 49px;
                position: absolute;
                right: 32px;
                top: 11px;
                width: 103px;
            }
            .page-title .title-3 {
                background: transparent url(/Images/Public/NavbarMenu/SubMenu/3.png) no-repeat 0 0;
                height: 37px;
                position: absolute;
                right: 41px;
                top: 16px;
                width: 70px;
            }
            .page-title .title-4 {
                background: transparent url(/Images/Public/NavbarMenu/SubMenu/4.png) no-repeat 0 0;
                height: 19px;
                position: absolute;
                right: 62px;
                top: 30px;
                width: 38px;
            }

        .price-lists {
            padding: 1px;
        }

        .lists {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
        }
            .lists > li {
                float: right;
                margin-right: 30px;
            }
            .lists > li:first-child {
                margin-right: 0;
            }

        .price-list {
            background: transparent url(/Images/Public/Portfolio/1.jpg) no-repeat 0 0;
            height: 358px;
            margin: 0;
            padding: 1px;
            width: 157px;
        }
            .price-list ul {
                margin: 26px 27px 0 16px;
                padding: 0;
                list-style: none;
                text-align: right;
            }
                .price-list ul li {
                    margin: 0 0 3px 0;
                    padding: 0;
                    position: relative;
                    list-style: none;
                }
                    .price-list ul li a {
                        color: #503e18;
                        cursor: pointer;
                        display: block;
                        font-family: IranianSerifWeb;
                        font-size: 15px;
                        font-weight: bold;
                        padding: 5px 3px 1px 0;
                        position: relative;
                        text-decoration: none;
                        z-index: 6;
                    }
                        .price-list ul li a:hover + .item-hover-bg {
                            opacity: 1;
                            transition: opacity 300ms ease-in;
                        }
                    .price-list ul li i {
                        background-color: #503e18;
                        border-radius: 50%;
                        display: inline-block;
                        height: 3px;
                        left: 2px;
                        position: relative;
                        top: -2px;
                        width: 3px;
                    }
                    .price-list ul li .item-sep {
                        background: transparent url(/Images/Public/navbar-sub-item-sep.png) no-repeat center center;
                        bottom: -13px;
                        height: 15px;
                        position: absolute;
                        right: -10px;
                        top: auto;
                        width: 108px;
                        z-index: 4;
                    }
                    .price-list ul li .item-hover-bg {
                        background: transparent url(/Images/Public/Portfolio/3.png) no-repeat center center;
				        height: 81px;
                        left: -24px;
				        opacity: 0;
				        position: absolute;
                        top: -26px;
				        transition: opacity 300ms ease-out;
				        width: 167px;
				        z-index: 5;
                    }

        /* Custom, iPhone Retina */
        @@media only screen and (min-width : 320px) {
            .page-title {
                margin: 0 auto;
            }
            .lists > li {
                float: none;
                margin: 0 auto;
            }
            .price-list {
                margin: 0 auto;
            }
        }
        /* Extra Small Devices, Phones */
        @@media only screen and (min-width : 480px) {
            .page-title {
                margin: 0 auto;
            }
            .lists > li {
                float: right;
                margin: 0 30px 0 0;
            }
            .price-list {
                margin: 0;
            }
        }
        /* Small Devices, Tablets */
        @@media only screen and (min-width : 768px) {
            .page-title {
                margin: 0;
            }
            .lists > li {
                float: right;
                margin: 0 30px 0 0;
            }
            .price-list {
                margin: 0;
            }
        }
        /* Medium Devices, Desktops */
        @@media only screen and (min-width : 992px) {
             .page-title {
                margin: 0;
            }
             .lists > li {
                float: right;
                margin: 0 30px 0 0;
            }
             .price-list {
                margin: 0;
            }
        }
        /* Large Devices, Wide Screens */
        @@media only screen and (min-width : 1200px) {
             .page-title {
                margin: 0;
            }
             .lists > li {
                float: right;
                margin: 0 30px 0 0;
            }
            .price-list {
                margin: 0;
            }
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/Vendors/jquery-colorbox/them/colorbox.css" />
    <script type="text/javascript" src="/Vendors/jquery-colorbox/jquery.colorbox-min.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {
                $('.price-list ul li a').colorbox({
                    rel: 'gallery'
                });
            });
    </script>
}

<div id="header-mobile" class="visible-xs">
    <div id="header-mobile-inner">
        <a class="logo" href="/"></a>
        <a class="btn-home" href="/"></a>
        <a class="btn-back" href="/PriceList"></a>
    </div>
</div>

<div class="page-content">
    <div class="page-title">
        <a href="/PriceList/@Model.Id">
            <div class="title-@Model.Id"></div>
        </a>
    </div>

    <div class="price-lists">
        <ul class="lists">
            @{
                int loopIndex = 0;
                int loopRow = 0;
            }

            @while (prices.Count > loopIndex)
            {
                loopRow = 0;
                <li>
                    <div class="price-list">
                        <ul>
                            @while (prices.Count > loopIndex && loopRow < 9)
                            {
                                <li>
                                    <a href="@prices[loopIndex].PicturePath"><i></i>@prices[loopIndex].Title</a>
                                    <div class="item-hover-bg"></div>
                                    <div class="item-sep"></div>
                                </li>

                                loopRow += Convert.ToInt32(Math.Ceiling(prices[loopIndex].Title.Length / 12.0));
                                loopIndex++;
                            }
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
