@model List<Karenbic.DomainClasses.PriceList>

@{
    ViewBag.PageTitle = "PriceList";
}

@section HeaderSection {
    <style type="text/css">
        .page-content {
            width: 100%;
            padding: 1px 1px 1px 167px;
            position: relative;
        }

        .left-menu {
            background: transparent url(/Images/Public/0.jpg) no-repeat 0 0;
            height: 464px;
            left: 0;
            margin: 0 auto;
            padding: 1px;
            position: absolute;
            top: 0;
            width: 157px;
        }
            .left-menu ul {
                margin: 96px 37px 0 29px;
                padding: 0;
                list-style: none;
                text-align: center;
            }
                .left-menu ul li {
                    color: #fff;
                    font-family: Calibri;
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0 0 3px 0;
                    padding: 0;
                    list-style: none;
                }
                    .left-menu ul li a {
                        color: #fff;
                        cursor: pointer;
                        display: block;
                        transition: all 300ms ease-out;
                    }
                        .left-menu ul li a:hover {
                            text-decoration: none;
                            text-shadow: 0 0 6px #fff;
                            transition: all 300ms ease-in;
                        }

        .list {
            position: relative;
            padding: 71px 69px 20px 69px;
        }
            .list .label-left{
                background: transparent url(/Images/Public/1.png) no-repeat 0 0;
                height: 132px;
                left: 0;
                position: absolute;
                top: 0;
                width: 148px;
            }
            .list .label-right{
                background: transparent url(/Images/Public/2.png) no-repeat 0 0;
                height: 132px;
                position: absolute;
                right: 0;
                top: 0;
                width: 148px;
            }
            .list .list-container {
                background-color: #2a3234;
                border: 2px solid #494949;
                margin: 0;
                padding: 3px;
            }

        /* Custom, iPhone Retina */
        @@media only screen and (min-width : 320px) {
            .page-content {
                padding-left: 0;
            }

            .left-menu {
                left: auto;
                position: relative;
                top: auto;
            }

            .list {
                padding: 10px 10px 20px 10px;
            }
        }
        /* Extra Small Devices, Phones */
        @@media only screen and (min-width : 480px) {
            .page-content {
                padding-left: 0;
            }

            .left-menu {
                left: auto;
                position: relative;
                top: auto;
            }

            .list {
                padding: 10px 10px 20px 10px;
            }
        }
        /* Small Devices, Tablets */
        @@media only screen and (min-width : 768px) {
            .page-content {
                padding-left: 167px;
            }

            .left-menu {
                left: 0;
                position: absolute;
                top: 0;
            }

            .list {
                padding: 71px 69px 20px 69px;
            }
        }
        /* Medium Devices, Desktops */
        @@media only screen and (min-width : 992px) {
            .page-content {
                padding-left: 167px;
            }

            .left-menu {
                left: 0;
                position: absolute;
                top: 0;
            }

            .list {
                padding: 71px 69px 20px 69px;
            }
        }
        /* Large Devices, Wide Screens */
        @@media only screen and (min-width : 1200px) {
            .page-content {
                padding-left: 167px;
            }

            .left-menu {
                left: 0;
                position: absolute;
                top: 0;
            }

            .list {
                padding: 71px 69px 20px 69px;
            }
        }
    </style>
}

<div id="header-mobile" class="visible-xs">
    <div id="header-mobile-inner">
        <a class="logo" href="/"></a>
        <a class="btn-home" href="/"></a>
        <a class="btn-back" href="/PriceList"></a>
    </div>
</div>

<div class="page-content">
    <div class="hidden-xs left-menu">
        <ul>
            @foreach (Karenbic.DomainClasses.PriceList item in Model)
            {
                <li>
                    <a href="@Url.Action("Show", new { id = item.Id })">@item.Title</a>
                </li>
            }
        </ul>
    </div>

    <div class="list">
        <div class="hidden-xs label-left"></div>
        <div class="hidden-xs label-right"></div>
        <div class="list-container">
            <img style="display:block;height:auto;width:100%;" src="@ViewBag.selectedItem.PicturePath" />
        </div>
    </div>
</div>
