<style type="text/css">
    .dgvcn {
        background-color: #f9f9f9;
        border: 1px solid #6c6c6c;
        margin-top: 20px;
        min-height: 400px !important;
    }
        .dgvcn .btn-img-delete-1 {
            position: relative;
            top: -2px;
        }
        .dgvcn .btn-img-edit-1 {
            margin-right: 3px;
            position: relative;
            top: -2px;
        }
        .dgvcn .btn-img-info-1 {
            margin-left: 2px;
            margin-right: 3px;
            position: relative;
            top: -2px;
        }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="panel panel-default"
                 ng-class="{'whirl': addLoading, 'shadow': addLoading}">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i></i>
                        ثبت لیست قیمت
                    </div>
                </div>
                <div class="panel-body">
                    <form name="addPriceListForm">
                        <div class="form-group">
                            <label class="control-label">عنوان:</label>
                            <input type="text" class="form-control" ng-model="newPriceList.Title" required="" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">اولویت:</label>
                            <br />
                            <input type="text"
                                   style="width:60px;"
                                   value="0"
                                   min="0"
                                   max="3000"
                                   stepper=""
                                   ng-model="newPriceList.Order"
                                   required="" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">انتخاب فایل:</label>
                            <input type="file"
                                   nicefileinput=""
                                   ng-file-select="onFileSelect($files)" />
                        </div>
                        <div class="form-group">
                            <img id="pricePic" style="width:100%;height:auto;border:2px solid #D6D6D6;"
                                 ng-show="newPriceList.PictureFile != null" />
                        </div>
                        <div class="form-group"
                             style="margin-bottom:1px;">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <button class="btn btn-labeled btn-success" type="button"
                                            ng-click="add()"
                                            ng-class="{'disabled': addPriceListForm.$invalid || newPriceList.PictureFile == null}"
                                            ng-disabled="addPriceListForm.$invalid || newPriceList.PictureFile == null">
                                        <span class="btn-label btn-label-right">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        ثبت
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="panel panel-default"
                 ng-class="{'whirl': fetchLoading, 'shadow': fetchLoading}">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i></i>
                        لیست های قیمت
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive dgvcn">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="min-width:40px;width:40px;">&nbsp;</th>
                                    <th style="min-width:200px;">عنوان</th>
                                    <th style="min-width:80px;width:80px;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in priceLists">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.Title}}</td>
                                    <td style="text-align:left;">
                                        <button class="btn-img-delete-1" type="button"
                                                ng-click="remove($index)"></button>
                                        <button class="btn-img-edit-1" type="button"
                                                ng-click="showEditModal($index)"></button>
                                        <button class="btn-img-info-1" type="button"
                                                ng-click="showPreviewModal($index)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Remove Modal -->
<script type="text/ng-template" id="removeDialog.html">
    <div style="font-family:yekan;font-size:14px;">
        <p>آیا از حذف اطلاعات اطمینان دارید?</p>
        <div>
            <button class="btn btn-default" ng-click="close()" type="button">خیر</button>
            <button class="btn btn-primary" ng-click="confirm()" type="button">بلی</button>
        </div>
    </div>
</script>
<!-- End Remove Modal -->

<!-- Start Edit Modal -->
<script type="text/ng-template" id="/EditModalContent.html">
    <div class="modal-header">
        <div class="modal-title">
            <i></i>
            ویرایش لیست قیمت
        </div>
    </div>
    <div class="modal-body" ng-class="{'whirl': editLoading, 'shadow': editLoading}">
        <form name="editPriceListForm">
            <div class="row">
                <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">عنوان:</label>
                        <input type="text" class="form-control" ng-model="priceList.Title" required="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">اولویت:</label>
                        <br />
                        <input type="text"
                               style="width:60px;"
                               value="0"
                               min="0"
                               max="3000"
                               stepper=""
                               ng-model="priceList.Order"
                               required="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">انتخاب فایل:</label>
                        <input type="file"
                               nicefileinput=""
                               ng-file-select="onFileSelect($files)" />
                    </div>
                </div>
                <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <img src="{{priceList.PicturePath}}"
                             ng-if="newPictureFile == null"
                             style="width:100%;height:auto;border:2px solid #D6D6D6;" />
                        <img id="editPricePic" ng-if="newPictureFile != null"
                             style="width:100%;height:auto;border:2px solid #D6D6D6;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="clearfix">
            <div class="pull-left">
                <button class="btn btn-labeled btn-default"
                        ng-click="close()">
                    <span class=" btn-label btn-label-right">
                        <i class="fa fa-times"></i>
                    </span>
                    خروج
                </button>
                <button class="btn btn-labeled btn-warning" type="button"
                        ng-click="edit()"
                        ng-class="{'disabled': editPriceListForm.$invalid}"
                        ng-disabled="editPriceListForm.$invalid">
                    <span class="btn-label btn-label-right">
                        <i class="fa fa-pencil"></i>
                    </span>
                    ویرایش
                </button>
            </div>
        </div>
    </div>
</script>
<!-- End Edit Modal -->

<!-- Start Preview Modal -->
<script type="text/ng-template" id="/PreviewModalContent.html">
    <div class="modal-header">
        <div class="modal-title">
            <i></i>
            نمایش لیست قیمت
        </div>
    </div>
    <div class="modal-body" ng-class="{'whirl': editLoading, 'shadow': editLoading}">
        <img src="{{priceList.PicturePath}}"
             style="width:100%;height:auto;border:2px solid #D6D6D6;" />
    </div>
    <div class="modal-footer">
        <div class="clearfix">
            <div class="pull-left">
                <button class="btn btn-labeled btn-default"
                        ng-click="close()">
                    <span class=" btn-label btn-label-right">
                        <i class="fa fa-times"></i>
                    </span>
                    خروج
                </button>
            </div>
        </div>
    </div>
</script>
<!-- End Preview Modal -->

<toaster-container toaster-options="{'position-class': 'toast-bottom-left', 'close-button':true, 'timeout': 3000}"></toaster-container>