<div class="row" ng-if="type == 11">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            <label class="control-label">عنوان:</label>
            <input type="text"
                   class="form-control"
                   ng-model="field.title"
                   required="" />
        </div>
        <div class="form-group">
            <label class="control-label">نوع فایل:</label>
            <select multiple=""
                    chosen="fileFormats"
                    ng-options="item.Title for item in fileFormats"
                    ng-model="field.fileTypes"
                    width="100%"></select>
        </div>
        <div class="form-group">
            <label class="control-label">راهنما:</label>
            <input type="file" nicefileinput="" id="pictureHelpFileInput"
                   ng-file-select="addPictureHelpFile($files)" />
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
        <div class="form-group">
            <label class="control-label">توضیحات:</label>
            <textarea class="form-control"
                      style="height:144px;resize:none;overflow:hidden;"
                      ng-model="field.description"></textarea>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="hidden-xs" style="height:16px;margin-bottom:5px;"></div>
        <div class="form-group">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox" ng-model="field.isRequired">
                    <span></span>این فیلد اجباری می باشد
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="field.sizeLimits">
                    <span></span>محدودیت حجم
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <input type="text" stepper=""
                           ng-model="field.minSize"
                           ng-disabled="field.sizeLimits == false" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="control-label" style="text-align:center;">الی</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <input type="text" stepper=""
                           ng-model="field.maxSize"
                           ng-disabled="field.sizeLimits == false" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">اولویت:</label>
            <br />
            <input type="text"
                   style="width:60px;"
                   value="120"
                   min="0"
                   max="300"
                   stepper=""
                   ng-model="field.priority"
                   required="" />
        </div>
    </div>
</div>