<div class="row" ng-if="type == 2">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            <label class="control-label">عنوان:</label>
            <input type="text"
                   class="form-control"
                   ng-model="field.title"
                   required="" />
        </div>
        <div class="form-group">
            <label class="control-label">نوع عددی:</label>
            <div class="radio-inline c-radio"
                 style="padding-right:5px;">
                <label>
                    <input type="radio"
                           ng-value="true"
                           ng-model="field.isInt">
                    <span></span>عدد صحیح
                </label>
            </div>
            <div class="radio-inline c-radio"
                 style="padding-right:5px;">
                <label>
                    <input type="radio"
                           ng-value="false"
                           ng-model="field.isInt">
                    <span></span>عدد اعشاری
                </label>
            </div>
        </div>
        <div class="form-group" ng-if="field.isInt == true">
            <label class="control-label">مقدار اولیه:</label>
            <input type="text"
                   style="width:50px;"
                   stepper=""
                   ng-model="field.defualt" />
        </div>
        <div class="form-group" ng-if="field.isInt == false">
            <label class="control-label">مقدار اولیه:</label>
            <input type="text"
                   style="width:50px;"
                   stepper=""
                   number-type="float"
                   ng-model="field.defualt" />
        </div>
        <div class="form-group">
            <label class="control-label">راهنما:</label>
            <input type="file" nicefileinput="" id="pictureHelpFileInput"
                   ng-file-select="addPictureHelpFile($files)" />
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
        <div class="form-group">
            <label class="control-label">توضیحات:</label>
            <textarea class="form-control"
                      style="height:144px;resize:none;overflow:hidden;"
                      ng-model="field.description"></textarea>
        </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-3 col-xs-12">
        <div class="hidden-xs" style="height:16px;margin-bottom:5px;"></div>
        <div class="form-group">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox" ng-model="field.isRequired">
                    <span></span>این فیلد اجباری می باشد
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="field.limits">
                    <span></span>محدودیت عددی
                </label>
            </div>
        </div>
        <div class="form-group" ng-if="field.isInt == true">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <input type="text" stepper=""
                           ng-model="field.min"
                           ng-disabled="field.limits == false" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="control-label" style="text-align:center;">الی</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <input type="text" stepper=""
                           ng-model="field.max"
                           ng-disabled="field.limits == false" />
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="field.isInt == false">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <input type="text" stepper=""
                           number-type="float"
                           ng-model="field.min"
                           ng-disabled="field.limits == false" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="control-label" style="text-align:center;">الی</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <input type="text" stepper=""
                           ng-model="field.max"
                           number-type="float"
                           ng-disabled="field.limits == false" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="field.showInFactor">
                    <span></span>نمایش در فاکتور
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">اولویت:</label>
            <br />
            <input type="text"
                   style="width:60px;"
                   value="120"
                   min="0"
                   max="300"
                   stepper=""
                   ng-model="field.priority"
                   required="" />
        </div>
    </div>
</div>