<div class="row" ng-if="formFieldType.value == 1">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            <label class="control-label">عنوان:</label>
            <input type="text"
                   class="form-control"
                   ng-model="newField_TextArea.title"
                   required="" />
        </div>
        <div class="form-group">
            <label class="control-label">ارتفاع (پیکسل):</label>
            <br />
            <input type="text"
                   style="width:60px;"
                   value="120"
                   min="90"
                   max="300"
                   stepper=""
                   ng-model="newField_TextArea.height"
                   required="" />
        </div>
        <div class="form-group">
            <label class="control-label">راهنما:</label>
            <input type="file" nicefileinput="" id="pictureHelpFileInput"
                   ng-file-select="addPictureHelpFile($files)" />
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
        <div class="form-group">
            <label class="control-label">توضیحات:</label>
            <textarea class="form-control"
                      style="height:144px;resize:none;overflow:hidden;"
                      ng-model="newField_TextArea.description"></textarea>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div class="hidden-xs" style="height:16px;margin-bottom:5px;"></div>
        <div class="form-group">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox" ng-model="newField_TextArea.isRequired">
                    <span></span>این فیلد اجباری می باشد
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="newField_TextArea.characterLimits">
                    <span></span>محدودیت کاراکتر
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <input type="text" stepper=""
                           ng-model="newField_TextArea.minCharacters"
                           ng-disabled="newField_TextArea.characterLimits == false" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="control-label" style="text-align:center;">الی</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <input type="text" stepper=""
                           ng-model="newField_TextArea.maxCharacters"
                           ng-disabled="newField_TextArea.characterLimits == false" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="newField_TextArea.showInFactor">
                    <span></span>نمایش در فاکتور
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">اولویت:</label>
            <br />
            <input type="text"
                   style="width:60px;"
                   value="120"
                   min="0"
                   max="300"
                   stepper=""
                   ng-model="newField_TextArea.priority"
                   required="" />
        </div>
    </div>
</div>