<div class="container-fluid" ng-if="item.type == 9">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group"
                 style="margin-bottom:6px;">
                <label class="control-label">{{item.data.title + ':'}}</label>
                <div class="radio c-radio"
                     ng-repeat="radio_item in item.data.items">
                    <label>
                        <input type="radio" disabled="disabled">
                        <span></span>{{radio_item.title}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             ng-if="item.data.description != null && item.data.description != ''">
            <div class="form-group">
                <pre class="control-label text-muted">{{item.data.description}}</pre>
            </div>
        </div>
    </div>
</div>