#footer {
	background-color: #323232;
	height: 36px;
	padding: 8px 10px;
	width: 100%;
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {
		height: 90px;
	}
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {
		height: 90px;
	}
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		height: 72px;
	}
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
		height: 36px;
	}
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
		height: 36px;
	}

	.privacy-text {
		color: #fff;

		font: {
			family: tahoma;
			size: 12px;
		}

		text-align: justify;
	}

	.creator-link {
		bottom: 10px;
		color: #fff;

		font: {
			family: tahoma;
			size: 12px;
		}

		left: 10px;
		position: absolute;
	}
}
