.top-header {
    background-color: #fff;
    border-bottom: 1px solid #cecece;
    height: 92px;
    left: 0;
    position: absolute;
    right: 0;
    top: 57px;
	overflow: hidden;
    z-index: 3;

    -moz-box-shadow: #c2c2c2 0px 1px 5px;
    -webkit-box-shadow: #c2c2c2 0px 1px 5px;
    box-shadow: #c2c2c2 0px 1px 5px;

    /* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {
        top: 83px;
	}
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {
        top: 83px;
	}
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
        top: 57px;
	}
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
        top: 57px;
	}
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
        top: 57px;
	}

    .menu {
        border-bottom: 1px solid #cecece;
        font: {
            family: yekan;
            size: 14px;
        }
        height: 92px;
        margin: 0 auto;
		position: relative;

		& > ul {
			list-style : none;
			margin: 0 auto;
			padding: 5px 10px;
			position: relative;
			text-align: center;

			/* Custom, iPhone Retina */
			@media only screen and (min-width : 320px) {
				width: 100%;
			}
			/* Extra Small Devices, Phones */
			@media only screen and (min-width : 480px) {
				width: 100%;
			}
			/* Small Devices, Tablets */
			@media only screen and (min-width : 768px) {
				width: 100%;
			}
			/* Medium Devices, Desktops */
			@media only screen and (min-width : 992px){
				width: 100%;
			}
			/* Large Devices, Wide Screens */
			@media only screen and (min-width : 1200px){
				width: 1024px;
			}
		}

        .menu-item {
            border-left:  1px solid #cecece;
            cursor: pointer;
            display: inline-block;
            height: 82px;

			/* Custom, iPhone Retina */
			@media only screen and (min-width : 320px) {
				width: 14%;
			}
			/* Extra Small Devices, Phones */
			@media only screen and (min-width : 480px) {
				width: 14%;
			}
			/* Small Devices, Tablets */
			@media only screen and (min-width : 768px) {
				width: 14%;
			}
			/* Medium Devices, Desktops */
			@media only screen and (min-width : 992px) {
				width: 13%;
			}
			/* Large Devices, Wide Screens */
			@media only screen and (min-width : 1200px) {
				width: 13%;
			}

            & > a {
                color: #333;
                display: block;
                text-decoration: none;
                -moz-transition: color 300ms ease-out;
                -webkit-transition: color 300ms ease-out;
                -o-transition: color 300ms ease-out;
                transition: color 300ms ease-out;

                & > i {
                    display: block;
					margin: 6px auto;
					position: relative;

					& > .menu-item-notification {
						background-color: #f2211a;
						border-radius: 4px;
						bottom: 0;
						color: #fff;
						font-family: tahoma;
						font-size: 12px;
						font-style: normal;
						height: 22px;
						padding: 1px 0;
						position: absolute;
						right: -9px;
						text-align: center;
						width: 25px;
					}

					&.billing {
						background: transparent url(/Images/PortalMenu/billing.png) no-repeat center 0;
						width: 53px;
						height: 45px;
					}
					&.customers {
						background: transparent url(/Images/PortalMenu/customers.png) no-repeat center 0;
						width: 53px;
						height: 45px;
					}
					&.financial-transaction {
						background: transparent url(/Images/PortalMenu/financial-transaction.png) no-repeat center 0;
						width: 46px;
						height: 46px;
					}
					&.form {
						background: transparent url(/Images/PortalMenu/form.png) no-repeat center 0;
						width: 43px;
						height: 45px;
					}
					&.message {
						background: transparent url(/Images/PortalMenu/message.png) no-repeat center 0;
						width: 55px;
						height: 45px;
					}
					&.order {
						background: transparent url(/Images/PortalMenu/order.png) no-repeat center 0;
						width: 53px;
						height: 48px;
					}
					&.order-track {
						background: transparent url(/Images/PortalMenu/order-track.png) no-repeat center 0;
						width: 38px;
						height: 46px;
					}
					&.pre-order {
						background: transparent url(/Images/PortalMenu/pre-order.png) no-repeat center 0;
						width: 56px;
						height: 45px;
					}
					&.public-contents {
						background: transparent url(/Images/PortalMenu/public-contents.png) no-repeat center 0;
						width: 67px;
						height: 44px;
					}
					&.price-list {
						background: transparent url(/Images/PortalMenu/price-list.png) no-repeat center 0;
						width: 43px;
						height: 47px;
					}
					&.setting {
						background: transparent url(/Images/PortalMenu/setting.png) no-repeat center 0;
						width: 45px;
						height: 45px;
					}
					&.show-order {
						background: transparent url(/Images/PortalMenu/show-order.png) no-repeat center 0;
						width: 47px;
						height: 46px;
					}
                }
            }

            &.menu-item-last {
                border-left: none;
            }
        }

        .sub-menu {
            bottom: -23px;
            display: none;
            font: {
                family: yekan;
                size: 13px;
            }
            height: 20px;
			left: 7px;
            list-style : none;
            margin: 0;
            padding: 0;
            position: absolute;
			right: 7px;
			z-index: 2;
        }

        .sub-menu-item {
            cursor: pointer;
            display: block;
            float: right;
            margin-left: 10px;

            & > a {
                color: #fff;
                display: block;
                text-decoration: none;
                -moz-transition: color 300ms ease-out;
                -webkit-transition: color 300ms ease-out;
                -o-transition: color 300ms ease-out;
                transition: color 300ms ease-out;

                & > i {
                    display: inline-block;
                    font-size: 17px;
                    position: relative; 
                    top: 3px;

					& > .menu-item-notification {
						background-color: #f2211a;
						border-radius: 50%;
						height: 10px;
						position: absolute;
						right: -4px;
						top: -2px;
						width: 10px;
					}
                }

				&:hover {
                    -moz-transition: color 300ms ease-in;
                    -webkit-transition: color 300ms ease-in;
                    -o-transition: color 300ms ease-in;
                    transition: color 300ms ease-in;
                }
            }
        }

		.sub-menu-hiegh-lighter {
			height: 33px;
			position: absolute;
			bottom: -33px;
			left: 2px;
			right: 2px;
			z-index: 1;
		}
    }
}